%html
	%head
		%title QuickScript.js
		%link(href="css/bootstrap.min.css" rel="stylesheet" media="screen")
		%link(href="css/style.css" rel="stylesheet" media="screen")
	%body
		#sidebar
			=render "sections/sidebar"
		#container
			.hero-unit
				%h1 QuickScript.js
				%p A client-side javascript framework based on Knockout.js
				%p <a class='btn btn-primary btn-large' href='http://github.com/agquick/quick_script'><i class='icon-share-alt icon-white'></i>View on Github</a>

			=render "sections/introduction"
			=render "sections/installation"
			=render "sections/model"
			=render "sections/view"
			=render "sections/application"

		%script(src="http://code.jquery.com/jquery-latest.js")
		%script(src="js/bootstrap.min.js")
