      <!-- COLLECTION -->
      <h2 id="Collection">Collection</h2>
      <p>
      The <b>Collection</b> class allows you to maintain lists of <b>Model</b> instances. Because most of the functionality is the same despite the Model subclass, you can easily define a collection class for your Model, as seen below.
      </p>
      <p id="Collection-defining">
      <b class='header'>defining</b><code>Model.includeCollection(this)</code><br/>
      To define a Collection for a Model, simply add the code as seen below. This will create a <b>TodoItem.Collection</b> class.
<pre>
class @TodoItem extends Model
  Model.includeCollection(this)
  init : ->
    ...
</pre>
      </p>

