
=header "Examples"
%p
	Here are some examples of applications built with QuickScript to give you an idea of how things work.

#Examples-todolist
	=subheader "todolist"

%p
	Every javascript framework must have a TodoList example, and so here's ours. The repository itself can be found in the demo/ folder of the quick_script repository, with instructions for running it in the README.

%p
	:markdown
		[**Todo List Application**](https://github.com/agquick/quick_script/tree/master/demo)

		* [Client Models](https://github.com/agquick/quick_script/blob/master/demo/app/assets/javascripts/models.js.coffee)
		* [Client Views](https://github.com/agquick/quick_script/blob/master/demo/app/assets/javascripts/views.js.coffee)
		* [Client Templates](https://github.com/agquick/quick_script/blob/master/demo/app/assets/views/)
		* [Server Model](https://github.com/agquick/quick_script/blob/master/demo/app/models/todo_item.rb)
		* [Server Controller](https://github.com/agquick/quick_script/blob/master/demo/app/controllers/todo_items_controller.rb)
		* [Server Routes](https://github.com/agquick/quick_script/blob/master/demo/config/routes.rb)

