<!-- INTRODUCTION -->
%h2#Introduction Introduction
%p
	QuickScript is a client-side javascript framework which extends Knockout.js to provide full application managment, including data models, view routing, and html templates. It was written mainly because I wanted to use Knockout, but wanted to make conventions on top of it to keep my code DRY.

%p
	<strong>QuickScript allows you to render your entire web application client-side.</strong>

%p
	QuickScript is written in CoffeeScript, so get familiar with it <a href='http://coffeescript.org'>here</a>.<br/>
	It is also heavily based on Knockout.js, so get familiar with it <a href='href://knockoutjs.com'>here</a>.

