<!-- MODELADAPTER -->
=header "ModelAdapter"
%p
	The <b>ModelAdapter</b> class allows you to define how a <b>Model</b> retrieves its data. You can define the ModelAdapter as follows:

#ModelAdapter-defining
	=subheader "defining", "Model.includeAdapter(adapter, this)"

	:coderay
		#!ruby
		class @TodoItem extends @Model
			Model.includeAdapter
				type : ModelAdapter					# this is optional, type is ModelAdapter by default
				load_url : '/api/todo_items',		# also used for index
				save_url : '/api/todo_item'			# also used for delete
			, this
			init : ->
				...
