      <!-- MODELADAPTER -->
      <h2 id="ModelAdapter">ModelAdapter</h2>
      <p>
      The <b>ModelAdapter</b> class allows you to define how a <b>Model</b> retrieves its data. You can define the model adapter as follows:
      </p>

      <p id="ModelAdapter-defining">
      <b class='header'>defining</b><code>Model.includeAdapter([model_adapter])</code><br/>
<pre>
class @TodoItem extends Model
  Model.includeAdapter(new ModelAdapter({load_url : '/api/todo_items', save_url : '/api/todo_item'}))
  init : ->
    ...
</pre>
      </p>


