%a.title QuickScript.js

=link "Introduction", :title
=link "Installation", :title

=link "Model", :title
%ul.section
	=ul_links "View", ["defining", "constructor", "addFields", "addSubModel"]

=link "ModelAdapter", :title
%ul.section
	=ul_links "View", ["defining"]

=link "Collection", :title
%ul.section
	=ul_links "View", ["defining", "constructor", "load", "update"]

=link "View", :title
%ul.section
	=ul_links "View", ["defining", "addView", "selectView"]

=link "Application", :title
%ul.section
	=ul_links("Application", ["defining", "handlePath"])

